<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="conn" connectionString="Data Source = DESKTOP-5PSSEM5\SQLEXPRESS; Intergrated Security = true; Database = QLSafovi"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString" connectionString="Data Source = DESKTOP-5PSSEM5\SQLEXPRESS; Initial Catalog=QLSafovi; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString2" connectionString="Data Source = DESKTOP-5PSSEM5\SQLEXPRESS; Initial Catalog=QLSafovi; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString_SanPham_Safovi" connectionString="Data Source = DESKTOP-5PSSEM5\SQLEXPRESS; Initial Catalog=QLSafovi; Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString3" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString4" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString5" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString6" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString7" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="QLSafoviConnectionString8" connectionString="Data Source=DESKTOP-5PSSEM5\SQLEXPRESS;Initial Catalog=QLSafovi;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
  </appSettings>
  
</configuration>